@tailwind base;
@tailwind components;
@tailwind utilities;



body[data-theme="dark"]{
   background-color:#171C24;
    color: white;
    .darkmode{
        color: white;
    }
    .section-title{
        color: white;
    }

    .h3 , .card-text, .span{
        color: white;
    }

    #main-title{
        color: black;
    }
    #main-title > .span{
        color: #EE4962;
    }
    #section-title > .span{
        color: #EE4962;
    }
    .section-subtitle, .SectionSubtitle{
        color: black;
    }
    #SectionSubtitle{
        color: black;
    }
   .CardTitle, .CardText{
    color: black;
   }
   .legalDark{
    color: white;
   }
  
}